@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: Ubuntu;
    overflow-x: hidden;
}

header {
    background: #f4f5f6;
    padding: 30px 10%;
    position: relative;

    .bg-img {
        position: absolute;
        opacity: 1;
        z-index: 0;
        height: 100%;
        top: 0;
        right: 0;
    }

    section { transform: translate(0); }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;     

        .navigator {
            ul {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin: 0 20px;
                width: 95%;
                line-height: 20px;

                li a {
                    color: #000;
                    text-decoration: none;
                    margin: 10px;
                    transition: .3s;

                    &:hover { color: #ff5a30; }

                    
                    &.leading { color: #ff5a30; }
                }
            }
        }

        .data {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: left;

            div {
                width: 160px;
                font-size: 16px;
                margin: 5px 0;

                img {
                    float: left;
                    margin-right: 10px;
                }

                &:nth-child(2) {
                    width: 200px;
                    transform: translateX(5px);
                }
            }
        }
    }

    .main {
        .choice, a {
            text-decoration: none;
            color: #000;
            transition: .3s;

            a:hover { opacity: 0.6; }
            .current { opacity: 0.4; }
        }

        h1 {
            text-transform: uppercase;
            font-size: 56px;
            margin: 20px 0;
            letter-spacing: 1px;
        }

        p {
            opacity: 0.6;
            width: 70%;
            max-width: 600px;
        }
    }
}

main {
    .information {
        margin: 5% 10%;

        .grade {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;

            .img {
                width: 100%;
                margin-right: 40px;

                img { width: 100%; min-width: 300px; }
            }

            .txt {
                width: 100%;
                margin-left: 60px;

                h2 { transform: translateX(-40px); }

                h1, h6 {
                    font-weight: 1;
                    font-size: 38px;
                    color: #ff5a30;
                    transform: translate(-40px, 15px);
                }

                h6 { transform: translate(-40px, 30px); }

                p {
                    opacity: 0.6;
                    font-size: 16px;
                    margin-top: 10px;
                    line-height: 20px;
                    height: 80px;
                    overflow: hidden;
                }
            }
        }

        .doIt {
            margin-top: 50px;

            .items {
                display: flex;
                justify-content: center;
                align-items: flex-start;

                div {
                    width: 100%;
                    margin: 20px 10px;
                    position: relative;
                    transition: .5s;

                    h1 {
                        font-size: 40px;
                        opacity: 0.2;
                        transition: .5s;
                        width: 65px;
                        border-radius: 50%;
                        text-align: center;
                        padding: 10px;
                        transform: translate(-10px, 0px);
                        z-index: 0;
                    }

                    div {
                        border: 1px dashed #000;
                        opacity: 0.2;
                        width: 75%;
                        margin-left: 17%;
                        transform: translate(20px, -52px);
                        z-index: 1;
                    }

                    p {
                        opacity: 0.6;
                        font-size: 16px;
                        line-height: 20px;
                        margin-top: 15px;
                    }

                    h4 { margin-top: -30px; }
                    &:nth-child(4) div { border: 0; margin-bottom: 40px; }

                    &:hover h1 {
                        color: #ff5a30;
                        opacity: 1;
                        background: #ffded6;
                        box-shadow: 0px 0px 0px 10px #fff1ed;
                        z-index: 3;
                    }
                }
            }
        }
    }

    .benefits {
        background: #1e212c;
        color: #fff;
        width: 100%;
        text-align: center;
        padding: 30px 10%;

        p {
            opacity: 0.6;
            font-size: 15px;
            margin-top: 20px;
            line-height: 20px;
        }

        .sections {
            display: flex;
            justify-content: center;
            margin-top: 40px;

            div {
                padding: 0 20px;
                img { width: 40px; margin-bottom: 10px; }
                &:nth-child(2) img { margin-bottom: 17px; }
                &:nth-child(3) img { margin-bottom: 16px; }
            }
        }

        .a {
            transform: translate(-10px, 40px);
            
            a {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                padding: 10px 10%;
                font-size: 12px;
                border-radius: 5px;
                font-weight: 800;
                letter-spacing: 0.5px;
                transition: .5s;
                background: #ff5a30;
                border: #ff5a30 2px solid;
                margin-left: 20px;

                &:hover {
                    box-shadow: inset 3px 3px 10px 2px #ab391d;
                }
            }
        }
    }

    .related {
        margin: 60px 10%;
        position: relative;

        h2 { width: 70%; }

        button {
            position: absolute;
            top: 0px;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &.prev {
                transform: translateX(-40px);
            }

            background: none;
            border: none;
            border-radius: 50%;
            transition: .5s;
            padding: 8px 5px;

            &:hover { background: #ff5a30; }
        }

        .images {
            display: flex;
            margin-top: 20px;

            div {
                width: 30%;
                margin: 10px;
                box-shadow: #8d8d8d 0 2px 20px -8px;
                text-align: center;
                transition: .5s;

                img {
                    width: 100%;
                    aspect-ratio: 10/9;
                    margin-bottom: 10px;
                }

                p {
                    margin: 5px 0 20px 0;
                    font-size: 15px;
                }

                a {
                    display: inline;
                    width: 90%;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #ff5a30;
                    font-weight: 900;
                    font-size: 15px;
                    border: #ff5a30 2px solid;
                    padding: 10px 15px;
                    transform: translateY(-10px);

                    &:hover {
                        box-shadow: inset 3px 3px 10px -2px #ff5a30;
                    }
                    
                    display: none;
                }

                &:hover a {
                    transition: all .5s ease-in-out;
                    display: inline-block;
                    width: 80%;
                }
                &:hover img {
                    transition: all .3s ease-in-out;
                    aspect-ratio: 5/4;
                }
            }
        }

        .txt {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;

            h4 { margin-right: 20px; }

            a {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                padding: 10px 15px;
                font-size: 12px;
                border-radius: 5px;
                font-weight: 800;
                letter-spacing: 0.5px;
                transition: .5s;
                background: #ff5a30;
                border: #ff5a30 2px solid;
                margin-left: 20px;

                &:hover {
                    box-shadow: inset 3px 3px 10px 2px #ab391d;
                }
            }
        }
    }

    .pricing {
        padding: 0 10%;
        background: #f4f5f6;
        position: relative;
        text-align: center;

        .plan {
            width: 200px;
            position: absolute;
            top: -160px;
            left: 0;
            z-index: 0;
        }

        .image {
            background: #fff;
            margin: 40px 0;
            
            .txt {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 0;

                h5 {
                    margin-left: 5%;
                }

                div {
                    h4 {
                        font-size: 15px;
                    }

                    p {
                        color: #8d8d8d;
                        font-weight: 600;
                        font-size: 12px;
                        margin-top: 10px;
                    }

                    &.basic { margin-left: 25%; }
                    &.standart { margin-right: 1%; }
                    &.business { margin-right: 7%; }
                }
            }

            img {
                width: 100%;
            }

            .link {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 20px 0;

                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #ff5a30;
                    font-weight: 900;
                    font-size: 15px;
                    border: #ff5a30 2px solid;
                    padding: 1% 2%;
                    margin: 0 3.3%;
                    transition: .3s;
                    border-radius: 5px;

                    &:hover {
                        box-shadow: inset 3px 3px 10px -2px #ff5a30;
                    }
                }
            }
        }

        .company {
            margin: 30px 0;
        }
    }
}

footer {
    margin-top: -30px;
    background: #1e212c;
    padding-bottom: 1px;

    .details {
        position: relative;

        img { width: 100%; }

        .quick {
            position: absolute;
            top: 10%;
            right: 5%;
            background: #fff;
            width: 40%;
            max-width: 400px;
            min-width: 330px;
            padding: 25px 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 5px;
            
            
            h4 {
                text-align: center;
            }
    
            .inp {
                width: 100%;
    
                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 10px 0;
    
                    label {
                        text-align: left;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
    
                    input {
                        border: 2px solid #d1d1d1;
                        border-radius: 5px;
                        background: #e5e5e5;
                        opacity: 0.7;
                        color: #8d8d8d;
                        outline: none;
                        padding: 10px;
                        width: 100%;
                        font-size: 14px;

                        &[type="checkbox"] {
                            content: '';
                            width: 15px;
                            font-weight: 100;
                            accent-color: #ff5a30;
                        }
                    }
    
                    &.mes input { padding: 15px 10px; }

                    p {
                        font-size: 14px;
                        transform: translate(20px, -15px);
                        margin-bottom: 20px;
                    }
    
                    button {
                        text-transform: uppercase;
                        padding: 12px;
                        width: 40%;
                        min-width: 145px;
                        color: #fff;
                        letter-spacing: 0.5px;
                        background: #ff5a30;
                        font-weight: bold;
                        font-size: 14px;
                        border: 2px solid #ff5a30;
                        border-radius: 5px;
                        margin-top: -10px;
                        transition: .5s;
                        position: absolute;
                        bottom: 25px;
                        left: 50%;
                        transform: translateX(-50%);
    
                        &:hover {
                            box-shadow: inset 3px 3px 10px 2px #ab391d;
                        }
                    }
                }
            }
        }
    }

    .information {
        color: #fff;
        margin: 40px 10%;

        .pillar1 {
            display: flex;
            justify-content: center;

            .contact {
                width: 50%;
                margin-right: 40px;
                
                .social {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    img {
                        margin: 5px; opacity: 0.6;

                        &.logo {
                            opacity: 1;
                            margin: 0;
                            margin-right: 30px;
                        }
                    }
                }

                p {
                    opacity: 0.6;
                    font-size: 14px;
                    margin-top: 30px;
                    line-height: 20px;
                }
            }

            .touch {
                width: 50%;

                div {
                    margin: 30px 0;
                    display: flex;
                    align-items: center;

                    input {
                        outline: none;
                        padding: 12px;
                        border-radius: 0;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        border: #8d8d8d 2px solid;
                        background: rgba(255, 255, 255, 0.2);
                        color: #8d8d8d;
                        font-size: 14px;
                    }

                    button {
                        text-transform: uppercase;
                        padding: 12px;
                        color: #fff;
                        letter-spacing: 0.5px;
                        background: #ff5a30;
                        font-weight: bold;
                        font-size: 14px;
                        border: 2px solid #ff5a30;
                        border-radius: 5px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        margin-left: -3px;
                        transition: .5s;
    
                        &:hover {
                            box-shadow: inset 3px 3px 10px 2px #ab391d;
                        }
                    }
                }

                p {
                    font-size: 14px;
                    opacity: 0.6;
                    line-height: 20px;
                }
            }
        }

        .pillar2 {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 50px;
            transform: translateX(-5%);

            div {
                margin: 0 5%;

                ul {
                    list-style: none;
                    margin-top: 20px;
                    

                    li {
                        color: #fff;
                        font-size: 14px;
                        margin: 10px 0;
                        line-height: 20px;
                    }

                    a {
                        text-decoration: none;
                        color: #fff;
                        opacity: 0.6;
                        transition: .3s;
                        
                        &:hover {
                            opacity: 1;
                        }
                    }
                }

                &.office ul li {
                    opacity: 1;
                    span { opacity: 0.6; }
                }
            }
        }

        .pillar3 {
            display: flex;
            align-items: centerss;
            justify-content: space-between;
            margin-top: 40px;
            margin-bottom: -20px;

            .txt {
                font-size: 12px;
                
                img { transform: translateY(2px); width: 14px; }
            }

            .top {
                p {
                    font-size: 14px;
                    width: 80px;
                }

                button {
                    padding: 5px 12px 10px 11px;
                    background: #ff5a30;
                    border: 0;
                    border-radius: 5px;
                    transform: translate(80px, -25px);
                    transition: .3s;

                    img { width: 10px; }

                    &:hover {
                        box-shadow: inset 3px 3px 10px 2px #ab391d;
                    }
                }
            }
        }
    }
}